.ProjectsGalery {
    padding-top: 100px;
    background-color: #000;
}

.MyProjectsHeader {
    text-align: center;
    color: #fff;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.ProjectsContainer {
    display: flex;
    width: 90%;
    margin: 0 5%;
    justify-content: center;
    row-gap: 150px;
    column-gap: 70px;
    flex-wrap: wrap;
}

.ProjectOptionContainer {
    margin: 50px auto;
    text-align: center;
}

.ProjectOptionButton {
    padding: 20px;
    font-size: 24px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid #000;
    cursor: pointer;
    font-family: 'Sora', sans-serif;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ProjectOptionButton:hover {
    transform: scale(1.05, 1.05);
    transition: transform 200ms ease-in-out;
}

.ProjectOptionButton:focus {
    border: 3px solid #ff9b2a;
}

.ActiveButton {
    border: 3px solid #ff9b2a;
}