.NavBar {
    display: flex;
    position: fixed;
    top: 0;
}

.NavItem {
    padding: 15px 30px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

.NavItem:hover {
    cursor: pointer;
    background-color: #FFA733;
}